<h2> My First Angular Application </h2>

<!-- <app-employee></app-employee> -->

<!-- <app-string-interpolation></app-string-interpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-stylebinding></app-stylebinding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-event-binding1></app-event-binding1> -->
<!-- <app-event-binding2></app-event-binding2> -->
<!-- <app-event-binding3></app-event-binding3> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-ifordirective></app-ifordirective> -->
<!-- <app-switchdirective></app-switchdirective> -->
<!-- <app-course></app-course> -->
<!-- <app-post></app-post> -->
<!-- <router-outlet></router-outlet> -->
<app-bootstrap-demo></app-bootstrap-demo>