<p>tdf works!</p>

<div class="container">
    <div class="row">
        <div class="col">

            <div class="form-group">
                <label for="">Username:: </label>

                <input type="text" class="form-control"
                    ngModel name="myusername" minlength="5"
                    pattern="admin"
                    #username="ngModel" required
                placeholder="Enter the Username">

                <div class="alert alert-danger"
                *ngIf="username.touched && !username.valid"
                >** Please Enter the Username...

                 <div *ngIf="username.errors.minlength">
                        ** Please enter the minimum character of {{username.errors.minlength.requiredLength}} 
                 </div>

                 <div *ngIf="username.errors.pattern">
                       ** Please enter the Appropriate Pattern 
                 </div>

                </div>

            </div>


        </div>

    </div>

</div>